/* itemlistcontainer.css */

.itemlistcontainer {
  background-color: #F7F7F7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.itemlistcontainer h1 {
  color: #1C3D6C;
  font-size: 2rem;
  margin-bottom: 20px;
}
