/* checkout.css */

.checkout {
    background-color: #F7F7F7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .checkout h2 {
    color: #1C3D6C;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .checkout p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 30px;
  }
  
  .checkout .button-to-home {
    background-color: #D91C29;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  .checkout .button-to-home:hover {
    background-color: #1C3D6C;
  }
  
  .checkout form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .checkout form input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    width: 100%;
  }
  
  .checkout form button {
    background-color: #D91C29;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .checkout form button:hover {
    background-color: #1C3D6C;
  }
  